<div class="side-bar-header">
  <div class="user_name">Tom</div>
  <div class="chat_create_btn">チャットを作成する</div>
</div>
<div class="rooms">
  <ul class="room_list">
    <li>techroom1</li>
    <li>techroom2</li>
  </ul>
</div>

